{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}
    {% if user.is_authenticated %}
        <div class="page-content">
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <center><h2 class="mb-0">PURCHASE ORDER</h2></center>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="card radius-15">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-5"></div>
                        <div class="col-md-3"></div>
                        <div class="btn-group col-md-2">
                            <a href="{% url 'addpurchaseorder' %}" class="btn btn-outline-info" role="button">New</a>
                            <button type="button"
                                    class="btn btn-outline-info dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">All</a>
                                <a class="dropdown-item" href="#">Draft</a>
                                <a class="dropdown-item" href="#">Billed</a>
                                <a class="dropdown-item" href="#">Partialy Billed</a>
                                <a class="dropdown-item" href="#">Canceled</a>
                                <a class="dropdown-item" href="#">custom View</a>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <table class="table table-responsive-md mt-4">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Branch</th>
                                <th>Purchase Order Number</th>
                                <th>Reference</th>
                                <th>Vendor Name</th>
                                <th>Status</th>
                                <th>Amount</th>
                                <th>Expected Delivery Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for v in vndr %}
                            <tr>
                                <th>{{ v.firstname }}{{ v.lastname }}</th>
                                <td>{{ v.companyname }}</td>
                                <td>{{ v.email }}</td>
                                <td>{{ v.mobile }}</td>
                                <td>{{ v.gsttype }}</td>
                                <td>{{ v.gstin }}</td>
                                <td>{{ v.panno }}</td>
                                <td><a href="editcustomer/{{ customer.customerid }}"
                                       style="color: white; font-size: 15px;"><i class="bx bx-edit">EDIT</i></a><br>
                                    <a href="deletecustomer/{{ customer.customerid }}"
                                       style="color:white; font-size: 15px;"><i class="bx bx-trash">DELETE</i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}